
.center {
  text-align: center;
}
ul {
    list-style: none;
    padding: 50px 10px 20px;
}

img {
    display: inline-block;
    width: 50%;
    height: 50%;
}  

#footer {
    width: 100%;
    padding: 10px;
    border-top: solid 1px rgb(0, 0, 0);
    background-color: white;
    position: fixed;
    bottom: 0;
}

#input-parent {
    width:160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    position: relative;
}

#player-input {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    font-size: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#submit{
    margin-top: 10px;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    position: absolute;
    top: 100px;
    left: 100px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#menu-btns {
    margin-bottom: 50px;
}

#reset {
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#hint {
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.menu {
    margin-right: 7px;
    margin-left: 7px;
}
 
.guess {
    display: inline;
    border: 2px solid;
    border-radius: 5px;
    font-size: 3em;
    padding: 10px 25px;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

body {
    background-image: url(math.jpg);
    background-size: 100%;
    background-position: 0px;
} 

#app {
    /* background-color: rgba(255, 255, 255, 0.342);  */
    margin: 50px auto;
    /* width: 50%; */
}

